body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url(images/romina-ahmadpour-_wKlYE1Trj4-unsplash.jpg);
    background-size: cover;
    overflow: hidden;
}

h1{
    color: seagreen;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    color: green;
}

.clock{
    display: flex;
}
.clock div{
    margin: 5px;
    position: relative;
}
.clock span{
    width: 100px;
    height: 80px;
    background-color: rgb(46, 150, 43);
    font-size: 50px;
    opacity: 80%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.clock .text{
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkgreen;
    opacity: 80%;
}

.clock #ampm{
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: darkgreen;
    bottom: 0;
}